[mysqld]
# Enable slow query logging
slow_query_log=ON
slow_query_log_file=var/log/mysql/query_slow.log
long_query_time=1
min_examined_row_limit=100
max_allowed_packet=1024M
innodb_log_file_size=512M
read_rnd_buffer_size=512M